.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.form-group label {
  flex-basis: 30%; 
  font-weight: bold;
  margin-right: 10px; 
}

.form-group input,
.form-group select,
.form-group textarea {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.success-message {
  color: green;
  font-weight: bold;
  margin-top: 10px;
}

  button {
    display: block;
    width: 100%;
    margin: 20px auto; 
    padding: 10px;
    background-color: #2196f3;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  
  .form-group button:hover {
    background-color: #1565c0;
  }
  